---
import '@/styles/style.css';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';

export interface Props {
  title: string;
  description: string;
  ogImage: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title = SITE_TITLE, description = SITE_DESCRIPTION, ogImage = '/placeholder-social.jpg' } = Astro.props;
---

<title>{title === SITE_TITLE ? title : `${title} - ${SITE_TITLE}`}</title>

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.cn">
<link rel="preconnect" href="https://fonts.gstatic.cn" crossorigin>
<link
  href="https://fonts.googleapis.cn/css2?family=Major+Mono+Display&family=Noto+Serif+SC:wght@600&display=swap"
  rel="stylesheet"
>

<!-- Global Metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials">
<meta name="theme-color" content="#FFFFFF" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#181818" media="(prefers-color-scheme: dark)">
<meta name="generator" content={Astro.generator}>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL}>

<meta name="description" content={description}>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content={Astro.url}>
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="og:image" content={new URL(ogImage, Astro.url)}>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content={Astro.url}>
<meta property="twitter:title" content={title}>
<meta property="twitter:description" content={description}>
<meta property="twitter:image" content={new URL(ogImage, Astro.url)}>

<!-- rss styles -->
<link rel="alternate" type="application/rss+xml" href={`${Astro.site}rss.xml`}>
<link rel="alternate" type="application/rss+xml" title="王苏洋Blog" href={new URL("rss.xml", Astro.site)}>

<slot />

<script async defer is:inline src="https://www.googletagmanager.com/gtag/js?id=G-2DSSE6LSDV"></script>
<script async defer is:inline>
  // @ts-nocheck
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-2DSSE6LSDV');
</script>
